body {align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 251, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.box{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.conteudo{
    border: 2px solid rgb(229, 237, 252);
    border-radius: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(251, 255, 255);
    min-width: 40%;
    min-height: 20rem;
}
.tarefa {
    border-radius: 4px;
    margin-bottom: 1rem;
    border: 1px solid rgb(56, 56, 56);
    width: 17vw;
    height: 2vh;
}
.buttonAdd{
    border: 1px solid rgb(56, 56, 56);
    border-radius: 4px;
    margin-bottom: 1rem;
    height: 2.5vh;
}
:checked + label {
    text-decoration: line-through;
    color: grey;
  }